{{!-- Index page with button to go to /me /login and /register --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <a href="/me" class="btn btn-primary">Go to /me</a>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
</div>
